<div class="banner-item">
  <button
    class="order outline dark"
    type="button"
    onclick="location.href = 'https://maps.app.goo.gl/Q1wfbSuDXeKFmBzY9';"
  >
    Visit us now
  </button>
  <h1>14, Lorem Ipsum Str, 101 District, HCM City</h1>
</div>
<div class="banner-item">
  <button
    class="order outline transparent"
    type="button"
    onclick="location.href = '/order';"
  >
    order first &#10095;
  </button>
</div>
