<div class="title">
  <span class="tag">about us</span>
</div>
<p class="text"><strong>Opening hours:</strong> everyday from 6am to 11pm.</p>
<p class="text">
  <strong>Address:</strong> 14, Lorem Ipsum Str, 101 District, HCM City
</p>
<p class="text">
  Was founded in 2025 by Mr. Nguyen, THE ROOMTAURANT has the most professional
  staffs who know how to give the customers the best eating service.
</p>
<p class="text">
  We provide cushy experiment while eating. You will be served in a ravishing
  separate dining room. Having scrumptious food, talking in a cushy vibe.
  Exactly what you are going to have at <strong>THE ROOMTAURANT</strong> !
</p>
<div class="text-panel">
  <div class="panel-content">"Not just eat the food, but enjoy the meal."</div>
  <div>Chef, Coffeeist and Owner: Nguyen Thanh Nguyen.</div>
</div>
<div class="img-intro flex-vertical">
  <img src="../../../public/img/images/home/img-intro.jpg" alt="" />
</div>
