<div class="title"><span class="tag">the menu</span></div>
<article id="menu-content" class="flex-vertical">
  <section class="menu-item">
    <div class="name">English traditional meal</div>
    <div class="cost">10.50</div>
    <div class="intro">
      From England, this huge meal has a various abundant dish with delightful
      taste
    </div>
    <div class="img">
      <img
        src="../../../public/img/images/menu/main-qimg-4b9b9506613bba9c5503a69efc60ca51-lq.jpg"
        alt=""
      />
    </div>
  </section>
</article>
