* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inconsolata", Arial, sans-serif; }

html {
  font-family: "Inconsolata", Arial, sans-serif;
  background-color: #fdf5e6; }

::placeholder {
  color: #000000;
  font-weight: 600; }

.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

h1 {
  margin: 5px 0; }

img {
  width: 100%; }

.fixed {
  position: fixed;
  z-index: 1; }

.flex-vertical {
  display: flex !important;
  flex-direction: column; }

.flex-horizontal {
  display: flex !important;
  flex-direction: row; }

.flex-center {
  display: flex;
  align-items: center !important; }

.theme-dark {
  background-color: #000000 !important; }

.theme-dark div,
.theme-dark p {
  color: #fdf5e6; }

.theme-dark .tag {
  background-color: #fdf5e6; }

.theme-dark span {
  color: #000000 !important; }

.theme-light {
  background-color: #fdf5e6 !important; }

header {
  width: 100%;
  height: 40px;
  background-color: #000000; }

header nav {
  height: 100%;
  place-items: center; }

header .right {
  position: absolute;
  right: 0;
  top: 0; }

header.mini a {
  display: inline-block;
  text-align: center;
  background-color: #000000;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
  line-height: 22.5px; }

header.mini a:hover {
  background-color: #616161; }

footer {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #fdf5e6;
  min-height: 100px;
  padding-top: 8px; }

footer section:not(:first-child) {
  border-left: 2px groove #000000; }

footer section:last-child:not(h1) {
  text-align: left; }

footer section:last-child h1 {
  text-align: center; }

footer section {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  text-align: center; }

footer section h1 {
  text-transform: uppercase;
  margin-bottom: 12px; }

footer section * {
  display: inline;
  text-transform: capitalize;
  margin-bottom: 4px; }

aside {
  display: inline-block;
  width: 200px;
  min-height: 50vh;
  height: 100vh;
  background-color: #000000; }

aside .logo-container {
  margin-bottom: 32px; }

aside img {
  padding: 16px 20px; }

aside button {
  width: 170px;
  margin-bottom: 16px;
  padding: 16px 20px;
  cursor: pointer;
  border: none; }

aside button:hover {
  background-color: #616161;
  color: #fdf5e6; }

aside button.profile {
  margin-bottom: 32px; }

aside button.logout {
  margin-top: 32px; }

span.tag {
  display: inline-block;
  background-color: #000000;
  color: #fdf5e6;
  padding: 4px 20px;
  font-size: 20px;
  line-height: 22.5px;
  font-weight: 700; }

button {
  text-transform: uppercase; }

button.dark {
  background-color: #000000;
  color: #fdf5e6; }

button.light {
  background-color: #fdf5e6;
  color: #000000; }

button.transparent {
  background-color: rgba(0, 0, 0, 0); }

button.outline {
  border: 2px solid #000000; }

button.outline-light {
  border: 2px solid #fdf5e6; }

button.submit {
  margin-top: 10px;
  padding: 12px 24px;
  border: none; }

button.escape {
  padding: 20px 16px;
  border: none; }

button:hover,
button.submit:hover {
  cursor: pointer;
  background-color: #616161;
  color: #fdf5e6; }

.modal-container {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; }

.modal {
  border: 2px solidc #000000;
  background-color: white;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal .title-bar {
  padding: 12px;
  background-color: #000000;
  width: 100%;
  text-align: center; }

.modal .title-bar button {
  float: right;
  color: #000000;
  padding: 4px 4px;
  border: none; }

.modal .title {
  display: inline-block;
  margin: auto auto; }

.modal .title h1 {
  color: #fdf5e6;
  text-align: center; }

.modal form {
  padding: 16px;
  display: grid;
  grid-template-columns: 25% 75%; }

.modal .form-panel {
  text-transform: capitalize; }

.modal form label,
.modal form select,
.modal form input,
.modal form option {
  font-size: 24px;
  margin-bottom: 12px;
  height: 24px; }

#msg {
  min-height: 150px; }

#order-submit-btn {
  width: 25%;
  padding: 12px 36px;
  margin: 0 auto;
  cursor: pointer;
  background-color: #000000;
  color: #fdf5e6;
  border: none;
  margin-bottom: 16px; }

#order-submit-btn:hover {
  background-color: #616161; }

.menu-container {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  padding: 16px;
  width: calc(100vw - 220px);
  background-color: #fdf5e6; }

.menu-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  max-height: 450px;
  width: 100%;
  gap: 10px; }

.menu-container .title {
  text-align: center;
  text-transform: uppercase; }

.menu-container .title,
.menu-container .cost {
  color: #fdf5e6;
  margin: 8px 0; }

.menu-container img {
  width: 80%;
  height: 150px;
  object-fit: cover; }

.menu-container .intro {
  color: #fdf5e6;
  height: 120px;
  width: 90%; }

.menu-container button {
  position: relative;
  padding: 12px 24px;
  cursor: pointer;
  border: none; }

.menu-container button:hover {
  background-color: #616161; }

.request-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 16px 32px;
  grid-column-gap: 8px;
  grid-row-gap: 8px; }

.request-item {
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 2px solid #000000;
  padding: 12px 16px;
  max-height: 180px;
  max-width: 200px; }

.request-item > * {
  margin: 4px 0; }

span.status {
  border: 0.5px solid #000000;
  padding: 4px;
  margin-top: 16px; }

span.status.denied {
  background-color: #ec8c69; }

span.status.waiting {
  background-color: #fff7ae; }

span.status.confirmed {
  background-color: #f7f0f0; }
