<div class="logo-container">
  <img src="../../public/img/images/img-menu.jpg" alt="" />
</div>
<button onclick="location.href ='/order'" class="order light" type="button">
  Order
</button>
<button
  class="logout dark outline-light"
  type="button"
  onclick="location.href='logout'"
>
  Logout
</button>
