<section class="license">
  <h1>licenses</h1>
  <a href="">food safety</a>
  <a href="">Business License</a>
  <a href="">Fire safety</a>
  <a href="">Emission Permit</a>
</section>
<section class="social">
  <h1>social</h1>
  <a href="">facebook</a><a href="">instagram</a>
</section>
<section class="contact">
  <h1>contact</h1>
  <p>Address:14, Lorem Ipsum Str, 101 District, HCM City</p>
  <p>Phone: 090000011</p>
</section>
