@import 'global';

h1,
strong,
p {
  margin: 16px 0;
}

// Detail
.detail-container {
  width: 85vw;
  padding: 16px;
}

.detail-content {
  background-color: $white-color;
  padding: 16px;
  min-height: 100vh;
}

.title {
  font-size: 36px;
  margin-bottom: 36px;
}

.information-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid $dark-color;
  padding: 12px;
}

.information-controller {
  display: grid;
  grid-template-columns: 125px auto;
  grid-column-gap: 32px;
  font-size: 24px;
}

.detail-container button {
  padding: 12px 16px;
  margin-top: 16px;
  border: none;
}

// Modal

.modal-container {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.modal {
  border: 2px solidc $dark-color;
  background-color: $white-color;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px $dark-color;
}

.modal .title-bar {
  padding: 12px;
  background-color: $dark-color;
  width: 100%;
  text-align: center;
}

.modal .title-bar button {
  float: right;
  color: $dark-color;
  padding: 4px 4px;
  border: none;
}

.modal .title {
  display: inline-block;
  margin: auto auto;
}

.modal .title h1 {
  color: $light-color;
  text-align: center;
}

.modal form {
  padding: 16px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.modal .form-panel {
  text-transform: capitalize;
}

.modal form label,
.modal form input {
  font-size: 16px;
  margin-bottom: 12px;
  height: 24px;
}

#edit-submit-btn {
  width: 25%;
  padding: 12px 36px;
  margin: 0 auto;
  cursor: pointer;
  background-color: $dark-color;
  color: $light-color;
  border: none;
  margin-bottom: 16px;
}

#edit-submit-btn:hover {
  background-color: $medium-color;
}

#warningModal {
  margin: 0 0 17px 0;
}
