<form action="/login" method="post" enctype="application/x-www-form-urlencoded">
  <h1 class="title">Login</h1>
  <input
    id="loginEmail"
    name="email"
    type="email"
    class="email-2"
    placeholder="Email"
    required
    autofocus
  />
  <input
    id="loginpsw"
    name="psw"
    type="password"
    class="password-2"
    placeholder="Password"
    required
  />

  <button class="submit formSubmit light-btn" type="submit" value="submit">
    Login
  </button>
</form>
