<div id="modal">
  <div class="modal-title">
    <p>Login error</p>
    <button type="button" onclick="closeModal()">X</button>
  </div>
  <div class="modal-content">
    <p id="error-name">Inccorect email or password</p>
  </div>
</div>
