<div id="modal">
  <div class="modal-title">
    <p>Signup error</p>
    <button type="button" onclick="closeModal()">X</button>
  </div>
  <div class="modal-content">
    <h1>Error: Cannot sign up, please ensure:</h1>
    <p id="error-name">Only use alphabet characters for name</p>
    <p id="error-email">Must use valid email</p>
    <p id="error-psw">
      Must contain 6-20 characters, including at least one number, one upcase
      and one lowcase character
    </p>
    <p id="error-phone">Must use valid phone number</p>
  </div>
</div>
