<div class="logo-container">
  <img src="../../public/img/images/img-menu.jpg" alt="" />
</div>
<button onclick="location.href ='/profile'" class="profile light" type="button">
  Profile
</button>
<button
  onclick="location.href='/productBoard'"
  class="product light"
  type="button"
>
  Product
</button>
<button
  onclick="location.href='/requestList'"
  class="Queue light"
  type="button"
>
  Request
</button>
<button
  class="logout dark outline-light"
  type="button"
  onclick="location.href='/logout'"
>
  Logout
</button>
