<section class="modal flex-vertical">
  <div class="title-bar">
    <div class="title"><h1>Add product</h1></div>
    <button class="escape" type="button" onclick="closeAddModal()">X</button>
  </div>
  <form
    method="post"
    action="/product-add"
    enctype="multipart/form-data"
    id="form-add"
  >
    <div class="labels flex-vertical .form-panel">
      <label for="pdName">Name</label>
      <label for="pdCost">Cost:</label>
      <label for="pdImg">Image</label>
      <label for="pdIntro">Intro</label>
    </div>
    <div class="input flex-vertical .form-panel">
      <input type="text" name="pdName" id="pdName" required />
      <input type="text" name="pdCost" id="pdCost" required />
      <input type="file" name="pdImg" id="pdImg" accept="Image/*" required />
      <input type="text" name="pdIntro" id="pdIntro" required />
    </div>
  </form>
  <input
    id="add-submit-btn"
    type="submit"
    value="Add"
    onclick="loadAddProduct()"
    form="form-add"
  />
</section>
